# Extract one clean route from citywide 3-month dump

In [1]:
route='M15'

In [2]:
import pandas as pd

# Create single route parquet table

In [3]:
def loadcsv_and_clean():
    df_tmp = pd.read_csv('nyc_buses_with_passenger_counts_20210401_20210630.csv')
    
    # select one route
    df_tmp = df_tmp.loc[df_tmp['route_short'] == 'M15']

    # convert both date columns to datetime
    df_tmp['timestamp']=pd.to_datetime(df_tmp['timestamp'])
    df_tmp['date']=pd.to_datetime(df_tmp['date'])

    # strip MTA NYCT_ from vehicle id
    df_tmp["vehicle_id"]=df_tmp["vehicle_id"].str[9:]

    # dump to pickle for faster access later
    df_tmp.to_parquet(f'nyc_buses_with_passenger_counts_20210401_20210630_{route}.parquet')
    df_tmp.shape

In [4]:
# loadcsv_and_clean()

# Recode passenger_count

## load table

In [5]:
df = pd.read_parquet(f'nyc_buses_with_passenger_counts_20210401_20210630_{route}.parquet')
df.shape

(1809342, 8)

In [6]:
df.dtypes

route_short                object
vehicle_id                 object
lat                       float64
lon                       float64
timestamp          datetime64[ns]
date               datetime64[ns]
hour                        int64
passenger_count            object
dtype: object

In [7]:
df.head()

,route_short,vehicle_id,lat,lon,timestamp,date,hour,passenger_count
671,M15,5830,40.8030,-73.9320,2021-06-06 20:58:57,2021-06-06,20,\N
672,M15,5906,40.7767,-73.9526,2021-06-06 20:58:55,2021-06-06,20,\N
673,M15,5885,40.7073,-74.0043,2021-06-06 20:59:04,2021-06-06,20,\N
674,M15,5871,40.7316,-73.9824,2021-06-06 20:59:18,2021-06-06,20,\N
675,M15,5827,40.7136,-73.9924,2021-06-06 20:59:10,2021-06-06,20,\N

## Recode passenger_count

Recoding passenger counts properly requires a multi-step process.

### Identify vehicles with occupancy sensors installed.

In [8]:
vehicle_lookup = df.query("passenger_count != r'\\N' ")['vehicle_id']
vehicle_lookup.unique()

array(['6037', '6105', '6051', '6101', '6035', '6071', '6053', '6045',
       '6049', '6061', '6069', '6043', '6063', '6067', '6073', '6079',
       '6059', '6075', '6039', '6065', '6129', '6108', '6217', '6094',
       '6095', '6197', '6163', '6190', '6205', '6097', '6164', '4961'],
      dtype=object)

### TODO ---- Set \N rows for known sensor-equipped vehicles to zero. ----

for any row meeting the following conditions:
    1. passenger_count="\\N"
    2. vehicle_id isin vehicle_lookup (might need to make it a series)
    
how to do it?
    1. # https://stackoverflow.com/questions/50449088/check-if-value-from-one-dataframe-exists-in-another-dataframe/50449144
        Df1 = Df1.assign(result=Df1['name'].isin(Df2['IDs']).astype(int))
    2. df.apply(lambda x: 0 if (passenger_count="\\N" AND ****vehicle_id is found in vehicle_lookup***) else x['passenger_count'])
    3. df_rows_to_update = df.query("int(passenger_count) is False and vehicle_id.isin(vehicle_lookup)")
    4. # try this https://coderedirect.com/questions/590953/pandas-fillna-with-a-lookup-table

### Convert all remaining passenger_count="\N" to NaN

In [9]:
# replace \N with 0
df["passenger_count"] = df["passenger_count"].replace("\\N",0)

#  and cast passenger_count to int
df["passenger_count"] = pd.to_numeric(df["passenger_count"])

### Save an updated table

In [10]:
df.to_parquet(f'nyc_buses_with_passenger_counts_20210401_20210630_{route}_cleaned.parquet')

## Appendix A. PREPARING THE CITYWIDE CSV FILE

To pull a single route's worth of position + passenger_count data (3 months, April 1 to June 30, 2021) from the master dump. Data set will consist of a large dump (3 months) from the NYCBusWatcher database, with the following columns: route_short, lat, lon, timestamp, date(timestamp), hour(timestamp), minute(timestamp), passenger_count

Extracting the data with duckdb from the parquet of buses_merged (2020.10.15 through 2021.07.13):
(passenger counts begin mid-day March 30)

1. inspect the raw data
describe select * from parquet_scan('parquet/*.parquet');

2. Create a table with the data we want (April 1 through June 30:
CREATE VIEW nn_dump AS SELECT route_short, vehicle_id, lat, lon, CAST(timestamp as TIMESTAMP) as timestamp, CAST(timestamp as DATE) as date, extract('hour' FROM CAST(timestamp as TIMESTAMP)) as hour, passenger_count FROM parquet_scan('parquet/*.parquet') WHERE CAST(timestamp as DATE) BETWEEN '2021-04-01' AND '2021-06-30';

3. check the data
SELECT count(*) from nn_dump; # 163,313,879
SELECT * from nn_dump LIMIT 10;
SELECT date, count(*) from nn_dump GROUP BY date ORDER BY date;
SELECT passenger_count, count(*) from nn_dump GROUP BY passenger_count ORDER BY passenger_count;

*** Keep in mind we do not know if the missing buses (passenger_count = \N) are zero passengers or no sensor, we will impute this below from the vehicle_ids that do have pasenger_counts. *** 

4. dump to csv
COPY nn_dump TO 'nyc_buses_with_passenger_counts_20210401_20210630.csv' WITH (HEADER 1, DELIMITER ',');

5. then gzip it
gzip -c ~/PyCharm\ Projects/tmp/buses_merged/nn_dump.csv > nyc_buses_with_passenger_counts_20210401_20210630.csv.gz