In [1]:
# route = "M15"

"M15"

In [2]:
# import Pkg
# Pkg.add("CSV")
# Pkg.add("DataFrames")
# Pkg.add("DataConvenience")
# Pkg.add("Parquet")
# Pkg.add("HDF5")
# Pkg.add("JuliaDB")

IN-MEMORY VERSION (DOESNT WORK WELL)
https://discourse.julialang.org/t/converting-csv-to-parquet-in-julia/57328

In [3]:
# using CSV
# using DataFrames

# df = CSV.read("data/nyc_buses_with_passenger_counts_20210401_20210630.csv", missingstring="\\N\", DataFrame)

# # filter out rows without our route
# df = filter(row -> row.route_short != route, df)

# # write parquet
# using Parquet
# file = "data/nyc_buses_with_passenger_counts_20210401_20210630_$route.julia.parquet"
# write_parquet(file, df)

## STREAMING VERSION

Using CsvChunkIterator
https://github.com/xiaodaigh/DataConvenience.jl 

Lots of ideas in here
https://discourse.julialang.org/t/struggling-with-julia-and-large-datasets/56916/7?page=3

and here
https://www.juliafordatascience.com/big-csvs/

In [4]:
using DataFrames
using CSV
using DataConvenience
using Parquet

filepath = "data/nyc_buses_with_passenger_counts_20210401_20210630.csv"

master_df = DataFrame()

i=0

for chunk in CsvChunkIterator(filepath, missingstring="\\N", limit=1000000)
    
    # 
#     # filter out rows without our route
#     chunk = filter(row -> row.route_short == route, chunk)
    n = nrow(chunk)
    println("Extracted $n rows in chunk $i")
    
    # concatenate to the master df
    master_df  = vcat(master_df, chunk)
    
    i += 1
    
end

# write to a new file
file = string("data/citywide_test_julia.parquet")
print("wrote to $file\n")
write_parquet(file, master_df)

Extracted 13824 rows on route M15 in chunk 0
Extracted 12585 rows on route M15 in chunk 1
Extracted 11613 rows on route M15 in chunk 2
Extracted 11414 rows on route M15 in chunk 3
Extracted 11099 rows on route M15 in chunk 4
Extracted 11242 rows on route M15 in chunk 5
Extracted 10696 rows on route M15 in chunk 6
Extracted 13765 rows on route M15 in chunk 7
Extracted 10300 rows on route M15 in chunk 8
Extracted 9699 rows on route M15 in chunk 9
Extracted 8688 rows on route M15 in chunk 10
Extracted 12057 rows on route M15 in chunk 11
Extracted 11917 rows on route M15 in chunk 12
Extracted 11207 rows on route M15 in chunk 13
Extracted 10492 rows on route M15 in chunk 14
Extracted 11987 rows on route M15 in chunk 15
Extracted 11255 rows on route M15 in chunk 16
Extracted 10409 rows on route M15 in chunk 17
wrote chunk to data/j1/nyc_buses_with_passenger_counts_20210401_20210630_M15.parquet

4

In [12]:
describe(df_check)

13×8 DataFrame. Omitted printing of 4 columns
│ Row │ variable                │ mean     │ min                 │ median   │
│     │ Symbol                  │ Union…   │ Any                 │ Union…   │
├─────┼─────────────────────────┼──────────┼─────────────────────┼──────────┤
│ 1   │ timestamp               │          │ 2021-04-01 00:22:17 │          │
│ 2   │ service_date            │          │ 2021-04-01          │          │
│ 3   │ hour                    │ 11.7208  │ 0                   │ 11.0     │
│ 4   │ minute                  │ 29.3916  │ 0                   │ 29.0     │
│ 5   │ route_short             │          │ M15                 │          │
│ 6   │ direction               │ 0.560463 │ 0                   │ 1.0      │
│ 7   │ vehicle_id              │          │ MTA NYCT_5253       │          │
│ 8   │ lat                     │ 40.7505  │ 40.7015             │ 40.7493  │
│ 9   │ lon                     │ -73.9704 │ -74.0128            │ -73.9709 │
│ 10  │ next_stop_id            │          │ MTA_401664          │          │
│ 11  │ next_stop_d             │ 120.193  │ 0.0                 │ 113.64   │
│ 12  │ next_stop_d_along_route │ 7351.94  │ 0.0                 │ 7333.54  │
│ 13  │ passenger_count         │ 7.5683   │ 1                   │ 6.0      │